* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

 #breedsContainer {
    height: 100vh;
    backdrop-filter: blur(7px);
    margin:  0 auto;
    text-align: center;
}

.header {
    background-color: rgb(109, 98, 98);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5%;
    padding-top: 2%;
    background: linear-gradient(to right, #19d66e , #0ddd64);
    background-clip: text;
    color: transparent;
}

#breedSelect{
    width: 30%;
    padding: 1%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid rgb(209, 203, 203);
    background-color: rgb(241, 239, 239);
    color: rgb(90, 86, 86);
    outline: 0;
}

#loading {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2%;
    display: none;
}

#slideshowContainer {
    width: 40%;
    flex: 1;
    position: relative;
    margin : 0 auto;
    object-fit: cover;
}

#slideshowImage {
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width: 885px) {
    #breedSelect {
        width: 70%;
    }
    #slideshowContainer {
        width: 100%;
    }
    #breedSelect {
        padding: 2%;
    }
}


